<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.ScheduleMapper">

	<!-- 스케줄 등록 -->
	<insert id="t_schedule" parameterType="com.smhrd.model.ScheduleVO">
										<!-- ScheduleVO 필드명 그대로!! -->
		insert into t_schedule values(#{t_scheduleName},#{t_appliance},#{t_date},#{t_onTime},#{t_offTime})
	</insert>
	
	<!-- 스케줄 조회 -->
	<select id="t_scheduleSelect" resultType="com.smhrd.model.ScheduleVO">
		select * from t_schedule
	</select>

</mapper>